body{
	background-color: #090643;
}
li{
	margin-bottom: 10px;
}
.hide{
	display:none;
}
.event-full{
	color:crimson;
	font-weight:bold;
}
button {
	border-radius: 5px;
	font-size: .75rem;
}
ul {
	list-style: none;
}