    <div class="modal-body">
        @if (!campaign.Submitted)
        {<p>Please wait a moment (can be 30 seconds) while we prepare your customized damage recovery form, so that you may immediately begin the claim submission process.  Here you will provide a brief overview of your experiences relating to the damages and hardships caused by the Texas Power outage.<br /><br /></p>}
        else
        {<p>Please click the button below.  By answering a few more questions, you will be able to submit a claim application for recovery of all damages you experienced.<br /><br /></p>
        <p>We look forward to assisting you and we will be available to help should you have questions or need assistance.<br /><br /></p>}
    </div>
    <div class="modal-footer">
        @if (campaign.Submitted)
        {<button type="submit" class="btn btn-primary" @onclick="GoToForm">Continue</button>}
        else
        {<img src="images/spinner-1s-100px.gif" alt="" />}
    </div>