@media only screen and (max-width: 600px) {
	#main-dialog{
		width:300px;
	}
	#header{
		min-width: 370px;
		height: 160px;
	}
	#head-logo{
		width: 225px;
    	margin: auto;
    	display: block!important;	
	}
	#head-title {
		font-size: 21px;
		font-weight: bold;
		vertical-align: middle;
		text-align: center;
		width: 265px;
		display: block!important;
		line-height: 22px;
	}
	#main-dialog{
		margin-top: 135px;
	}
}
